*{
	margin:0;
	padding:0;
	font-family:verdana;
}
header{
	margin: 100px auto;
	width:1200px;
	height: 230px;
	background-color: red;
}
.container{
	width: 200px;
	height:230px;
	float:left;
	-webkit-transition: height .4s;
}
#i1{
	background-color: rgb(208,101,3);
}
#i2{
	background-color: rgb(233,147,26);
}
#i3{
	background-color: rgb(22,145,190);
}
#i4{
	background-color: rgb(22,107,162);
}
#i5{
	background-color: rgb(27,54,71);
}
#i6{
	background-color: rgb(21,40,54);
}
.icon{
	display:block;
	margin: auto auto;
	background-color: rgba(255,255,255,.15);
	height:100px;
	margin-top: 40px;
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 0px 0px 25px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}
.text{
	color: white;
	font-size: 1.2em;
	text-align: center;
	padding-top: 35px;
	opacity: 0.6;
	letter-spacing: 0.5px;
	-webkit-transition: padding-top .4s; 
}
.container:hover{
	height:250px;
	cursor: pointer;
}
.container:hover .text{
	padding-top:50px;
	opacity:1;
}
.container:hover .icon{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}
}